/*---------- FLEX BOX ----------*/
.fl {
    display: flex !important;
}
.fl-in {
    display: inline-flex;
}
.jc-sa {
    justify-content: space-around;
}
.jc-sb {
    justify-content: space-between;
}
.jc-se {
    justify-content: space-evenly;
}
.jc-c {
    justify-content: center;
}
.ai-s {
    align-items: stretch;
}
.ai-c {
    align-items: center;
}
.ai-fs {
    align-items: flex-start;
}
.ac-c {
    align-content: center;
}
.fd-c {
    flex-direction: column;
}
.fw-w {
    flex-wrap: wrap;
}
.fg-0 {
    flex-grow: 0 !important;
}
.fg-05 {
    flex-grow: 0.5 !important;
}
.fg-08 {
    flex-grow: 0.8 !important;
}
.fg-087 {
    flex-grow: 0.87 !important;
}
.fg-1 {
    flex-grow: 1 !important;
}
.fg-2 {
    flex-grow: 2 !important;
}
/*-----------------------------------*/
.pl-10 {
    padding-left: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.t-up {
    text-transform: uppercase;
}
.rel {
    position: relative;
}
.rel-in {
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.clear-fix {
    clear: both;
}
.t-center {
    text-align: center;
}
.vert-mid {
    vertical-align: middle;
}
.ov-h {
    overflow: hidden;
}
.d-n {
    display: none !important;
}
.fw-b {
    font-weight: bold;
}
.h-auto {
    height: auto !important;
}
.w-auto {
    width: auto !important;
}
.h-100 {
    height: 100% !important;
}
.w-100 {
    width: 100%;
}
.br-8 {
    border-radius: 8px;
}
.m-0 {
    margin: 0;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.m-3vh {
    margin: 3vh;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.pt-60 {
    padding-top: 60px;
}
.pt-200 {
    padding-top: 15vh;
}
.pb-200 {
    padding-bottom: 15vh;
}
.p-mid {
    padding: 24vh 0;
}
.pl-10 {
    padding-left: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-90 {
    width: 90%;
}
.zag1 {
    color: #2c3e50;
    font-size: 5vw;
}
.b-l {
    margin: 15px 0 0 15px;
}
.b-r {
    margin: 15px 15px 0 0;
}
.tehno3 {
    height: 5vw;
}
.tehno4 {
    height: 0.5vw;
}
.tehno5 {
    height: 62px;
}
.tehno-10 {
    height: 10px;
}
.tehno-20 {
    height: 20px;
}
.tehno-30 {
    height: 30px;
}
.tehno-40 {
    height: 40px;
}
.tehno-50 {
    height: 50px;
}
.tehno-70 {
    height: 70px;
}
.tehno-80 {
    height: 80px;
}
/*---------- project ----------*/
.project-img {
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
}
/*---------- footer ----------*/
#logo-ft {
    margin-bottom: 48px;
}
/*---------- services ----------*/
#services .icon-box .icon img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
/*---------- about ----------*/
.team-progress-info .progress-bar {
    transition: 0.9s;
}

.about-progress-bars .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #545454;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.about-progress-bars .content ul {
  list-style: none;
  padding: 0;
}

.about-progress-bars .content ul li {
  padding-bottom: 10px;
}

.about-progress-bars .content ul i {
  font-size: 20px;
  padding-right: 4px;
}

.about-progress-bars .content p:last-child {
  margin-bottom: 0;
}

.about-progress-bars .progress {
  height: 62px;
  display: block;
  background: none;
}

.about-progress-bars .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #545454;
}

.about-progress-bars .progress .skill .val {
  float: right;
  font-style: normal;
}

.about-progress-bars .progress-bar-wrap {
  background: #e0e0e0;
}

.about-progress-bars .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
}
/* Preload
-------------------------------------------------------------- */
#loading-overlay {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: #fff;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}

.loader:before,
.loader:after {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    -webkit-animation: preloader-wave 1.6s linear infinite;
    animation: preloader-wave 1.6s linear infinite; 
    border-radius: 50%;
    background: #ff4500;
}

.loader:after {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s;
}
/*---------- MARKELLOTEST ----------*/
#employeeslist .table td, #departmentslist .table td, #setka .table td {
    font-size: 12px;
    padding: 0.1rem;
}
#employeeslist .theme-btn, #departmentslist .theme-btn, #setka .theme-btn {
    font-size: 12px;
    padding: 0.1rem;
}
/*---------- keyframes ----------*/
@-webkit-keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: .5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: .5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}
/*---------- @media ----------*/
@media only screen and (max-width: 765px) {
    .project-img {
        flex-direction: column;
    }
    .imagebox.imagebox-project.style4 .imagebox-image {
        margin-bottom: 10px;
    }
    #employeeslist .container, #departmentslist .container {
        padding-right: 3px;
        padding-left: 3px;
    }
    #employeeslist .table td, #departmentslist .table td, #setka .table td {
        font-size: 7px;
        padding: 0.1rem;
    }
    #employeeslist .theme-btn, #departmentslist .theme-btn, #setka .theme-btn {
        font-size: 7px;
        padding: 0.1rem;
    }
}

@media (min-width: 768px){}
    #employeeslist .container, #departmentslist .container {
        max-width: 960px;
    }
}
